<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!--Main Body-->
        <main class="container">
            <div class="row">
                <div class="col-md-offset-1">
                    <h1>
                        <%= title %>
                    </h1>
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th class="col text-center">Name</th>
                            <th class="col-2 text-center">Address</th>
                            <th class="col-2 text-center">Description</th>
                            <th class="col text-center">Priority</th>
                            <th class="col text-center">Status</th>

                        </tr>

                        <% for(let count=0; count < IncidentLog.length; count++ ) {%>
                            <tr>
                                <td class="col text-center">
                                    <%= IncidentLog[count].name %>
                                </td>
                                <td class="col-2 text-center">
                                    <%= IncidentLog[count].address %>
                                </td>
                                <td class="col-2 text-center">
                                    <%= IncidentLog[count].incidentDescription %>
                                </td>
                                <td class="col text-center">
                                    <%= IncidentLog[count].incidentPriority %>
                                </td>
                                <td class="col text-center">
                                    <%= IncidentLog[count].status %>
                                </td>

                            </tr>
                            <% } %>
                    </table>
                </div>

                

            </div>
        </main>





        <%- include partials/footer.ejs %>